<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/pick-a-color-1.2.3.min.css">
    <link rel="stylesheet" href="static/css/custom.css">

    <!-- Show IP Address -->
    <title>Dashboard available at {{ ip }}</title>
</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1>Scenecreator</h1>
        <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1">Name</span>
            <input type="text" class="form-control scenecreator_name" placeholder="romantic candlelight dinner" aria-describedby="sizing-addon1">
            <div class="input-group-btn">
                <button type="button" class="btn btn-secondary scenecreator_savebtn">Save</button>
                <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item scenecreator_savebtn" href="#">Save</a>
                  <a class="dropdown-item disabled scenecreator_deletebtn" href="#">Delete</a>
                  <div role="separator" class="dropdown-divider"></div>
                  <a class="dropdown-item scenecreator_showbtn" href="#">Show All</a>
                </div>
            </div>
        </div>
        <p>Scenes are generated for all lights currently enabled. Their colors are saved under the given name. </br>
        <strong>Scenes with the same name overwrite one another !</strong></p>

        <div class="alert alert-success collapse scenecreator_alert" role="alert">
          <strong>Well done!</strong> You successfully read this important alert message.
        </div>
    </div>
    <div class="jumbotron">
        <h1>Audiograbber</h1>
        <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon1">Name</span>
            <input type="text" class="form-control" placeholder="sweet floral black metal" aria-describedby="sizing-addon1">
        </div>
        <div class="input-group input-group-lg">
            <span class="input-group-addon" id="sizing-addon2">URL</span>
            <input type="text" class="form-control" placeholder="https://youtube-link-here.com" aria-describedby="sizing-addon2">
            <div class="input-group-btn">
                <button type="button" class="btn btn-secondary audiograbber_savebtn">Save</button>
                <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item audiograbber_savebtn" href="#">Save</a>
                  <a class="dropdown-item disabled audiograbber_deletebtn" href="#">Delete</a>
                  <div role="separator" class="dropdown-divider"></div>
                  <a class="dropdown-item audiograbber_showbtn" href="#">Show All</a>
                </div>
            </div>
        </div>
        <p>Download can take some time, especially for long videos. Not sure yet how feedback will be provided.</p>
        <strong>Audios with the same name overwrite one another !</strong>
    </div>
    <div class="jumbotron">
        <h1>Lightcontrol</h1>
        <div class="row">
            {% for gkey, gvalue in groups.items() %}
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="card text-xs-center">
                        <h3 class="card-header">{{ gvalue['name'] }}</h3>
                        <div class="card-block">
                            {% for l in gvalue['lights'] %}
                                <button type="submit" name="l{{ l }}"
                                        class="btn lightbtn {% if bridge.get_light(l|int, 'on') %} btn-warning {% else %}btn-default{% endif %} btn-circle btn-lg">{{ l }}</button>
                            {% endfor %}
                        </div>
                        <div class="card-footer">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn onbtn btn-secondary" name="{{ gkey }}">ON</button>
                                <button type="button" class="btn offbtn btn-secondary" name="{{ gkey }}">OFF</button>
                                <button type="button" class="btn btn-primary" data-toggle="modal"
                                        data-target=".{{ gvalue['name'] }}-help-modal">Help
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade {{ gvalue['name'] }}-help-modal" tabindex="-1" role="dialog"
                     aria-labelledby="help" aria-hidden="true">
                    <div class="modal-dialog modal-sm">
                        <div class="modal-content">
                            <div class="jumbotron">
                                <h3>Light Names</h3>
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for l in gvalue['lights'] %}
                                        <tr>
                                            <th scope="row">{{ l|int }}</th>
                                            <td>{{ bridge.get_light(l|int,'name') }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="card text-xs-center">
                    <h3 class="card-header">Colors</h3>
                    <div class="card-block">
                        <div style="margin-bottom: 5%">
                            {% for gkey, gvalue in groups.items() %}
                                {% for l in gvalue['lights'] %}
                                    <button type="submit" name="l{{ l }}" class="btn togglebtn {% if bridge.get_light(l|int, 'on') %} btn-warning {% else %}btn-default{% endif %} btn-circle btn-lg">{{ l }}</button>
                                {% endfor %}
                            {% endfor %}
                        </div>
                        <input style="!important display: inline-block;" type="text" value="white" name="colorpicker" class="pick-a-color form-control">
                    </div>
                    <div class="card-footer">
                        <div class="btn-group" role="group">
                            <button type="button" class="btn callbtn btn-secondary">ALL</button>
                            <button type="button" class="btn cnonebtn btn-secondary">NONE</button>
                            <button type="button" class="btn csetbtn btn-secondary">SET</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="card text-xs-center">
                        <h3 class="card-header">Scenes</h3>
                        <div class="card-block">
                            <div class="list-group scenes_listgroup" style="max-height:300px; overflow-y:auto;">
                              <button type="button" class="list-group-item list-group-item-action active">
                                Cras justo odio
                              </button>
                              <button type="button" class="list-group-item list-group-item-action">Dapibus ac facilisis in</button>
                              <button type="button" class="list-group-item list-group-item-action">Morbi leo risus</button>
                              <button type="button" class="list-group-item list-group-item-action">Porta ac consectetur ac</button>
                              <button type="button" class="list-group-item list-group-item-action disabled">Vestibulum at eros</button>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-primary scenes_synchronisebtn">Synchronise</button>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    <div class="jumbotron">
        <h1>Timer</h1>
        <div class="progress">
            <progress class="progress progress-striped progress-animated active" value="25" max="100"></progress>
            <button type="button" class="btn btn-primary" value="1min">1 Min</button>
            <button type="button" class="btn btn-primary" value="2min">2 Min</button>
            <button type="button" class="btn btn-primary" value="5min">5 Min</button>
            <button type="button" class="btn btn-primary" value="10min">10 Min</button>
            <button type="button" class="btn btn-primary" value="15min">15 Min</button>
            <button type="button" class="btn btn-primary" value="30min">30 Min</button>
            <button type="button" class="btn btn-primary" value="60min">60 Min</button>
        </div>
    </div>
</div>

<!-- jQuery first, then Tether, then Bootstrap JS. -->
<script src="static/js/jquery-3.1.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js"
        integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB"
        crossorigin="anonymous"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/custom.js"></script>
<script src="static/js/tinycolor-0.9.15.min.js"></script>
<script src="static/js/pick-a-color-1.2.3.min.js"></script>
</body>
</html>